argon2-cffi==19.2.0
asgiref==3.2.3
bcrypt==3.1.7
certifi==2020.6.20
cffi==1.14.0
colorama==0.4.3
dj-database-url==0.5.0
Django==3.0.3
django-filter==2.3.0
django-heroku==0.3.1
django-mysql==3.8.1
django-progressive==1.0.4
django-pwa==1.0.10
djangorestframework==3.11.0
gunicorn==20.0.4
mysqlclient==2.0.1
Pillow==7.0.0
psycopg2==2.8.4
pycparser==2.20
python-decouple==3.3
pytz==2019.3
qrcode==6.1
six==1.14.0
sqlparse==0.3.0
whitenoise==5.1.0
wincertstore==0.2
Wrapper==1.1.0b1
