<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--===============================================================================================-->	
	<link rel="icon"  href="{% static "loginform/images/icons/favicon.ico" %}"/>
    <!--===============================================================================================-->
        <link rel="stylesheet"  href="{% static "loginform/vendor/bootstrap/css/bootstrap.min.css" %}" />
    <!--===============================================================================================-->
        <link rel="stylesheet"  href="{% static "loginform/fonts/font-awesome-4.7.0/css/font-awesome.min.css" %}" />
    <!--===============================================================================================-->
        <link rel="stylesheet"  href="{% static "loginform/fonts/Linearicons-Free-v1.0.0/icon-font.min.css" %}" />
    <!--===============================================================================================-->
        <link rel="stylesheet"  href="{% static "loginform/vendor/animate/animate.css" %}" />
    <!--===============================================================================================-->	
        <link rel="stylesheet"  href="{% static "loginform/vendor/css-hamburgers/hamburgers.min.css" %}" />
    <!--===============================================================================================-->
        <link rel="stylesheet"  href="{% static "loginform/vendor/animsition/css/animsition.min.css" %}" />
    <!--===============================================================================================-->
        <link rel="stylesheet"  href="{% static "loginform/vendor/select2/select2.min.css" %}" />
    <!--===============================================================================================-->	
        <link rel="stylesheet"  href="{% static "loginform/vendor/daterangepicker/daterangepicker.css" %}" />
    <!--===============================================================================================-->
        <link rel="stylesheet"  href="{% static "loginform/css/util.css" %}" />
        <link rel="stylesheet"  href="{% static "loginform/css/main.css" %}" />
    <!--===============================================================================================-->






    <title>Login</title>
</head>
<body>
    
    <div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
				<form class="login100-form validate-form flex-sb flex-w" method="POST">
					{% csrf_token %}
					<span class="login100-form-title p-b-32">
						Student Login
					</span>

					<span class="txt1 p-b-11">
						Username
					</span>
					<div class="wrap-input100 validate-input m-b-36" data-validate = "Username is required">
						<input class="input100" type="text" name="username" >
						<span class="focus-input100"></span>
					</div>
					
					<span class="txt1 p-b-11">
						Password
					</span>
					<div class="wrap-input100 validate-input m-b-12" data-validate = "Password is required">
						<span class="btn-show-pass">
							<i class="fa fa-eye"></i>
						</span>
						<input class="input100" type="password" name="pass" >
						<span class="focus-input100"></span>
					</div>
					
					<div class="flex-sb-m w-full p-b-48">
						<!-- <div class="contact100-form-checkbox">
							<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
							
						</div> -->

						<div>
							<a href="{% url 'studentregistration' %}" class="txt3">
								Don't have an account yet?
							</a>
							<br><br>
							<p>
								{{ message }}
							</p>
						</div>
						
						
							
							
						
					</div>

					<div class="container-login100-form-btn">
						<input type="submit" value="Submit" name="submit">
					</div>

				</form>
			</div>
		</div>
	</div>

<!-- All JS Files -->
    <!--===============================================================================================-->
	<script src="{% static "loginform/vendor/jquery/jquery-3.2.1.min.js" %}"></script>
    <!--===============================================================================================-->
        <script src="{% static "loginform/vendor/animsition/js/animsition.min.js" %}"></script>
    <!--===============================================================================================-->
        <script src="{% static "loginform/vendor/bootstrap/js/popper.js" %}"></script>
        <script src="{% static "loginform/vendor/bootstrap/js/bootstrap.min.js" %}"></script>
    <!--===============================================================================================-->
        <script src="{% static "loginform/vendor/select2/select2.min.js" %}"></script>
    <!--===============================================================================================-->
        <script src="{% static "loginform/vendor/daterangepicker/moment.min.js" %}"></script>
        <script src="{% static "loginform/vendor/daterangepicker/daterangepicker.js" %}"></script>
    <!--===============================================================================================-->
        <script src="{% static "loginform/vendor/countdowntime/countdowntime.js" %}"></script>
    <!--===============================================================================================-->
        <script src="{% static "loginform/js/main.js" %}"></script>




</body>
</html>