<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static "user_interaction/css/Frontend_Theme/assets/css/style.css" %}" />

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="{% static "user_interaction/css/Frontend_Theme/assets/vendor/bootstrap/css/bootstrap.min.css" %}" />
    <link rel="stylesheet" href="{% static "user_interaction/css/Frontend_Theme/assets/vendor/icofont/icofont.min.css" %}" />
    <link rel="stylesheet" href="{% static "user_interaction/css/Frontend_Theme/assets/vendor/boxicons/css/boxicons.min.css" %}" />
    <link rel="stylesheet" href="{% static "user_interaction/css/Frontend_Theme/assets/vendor/venobox/venobox.css" %}" />
    <link rel="stylesheet" href="{% static "user_interaction/css/Frontend_Theme/assets/vendor/owl.carousel/assets/owl.carousel.min.css" %}" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Favicons -->
    <link rel="icon" href="{% static "user_interaction/css/Frontend_Theme/assets/img/favicon.png" %}" />
    <link rel="apple-touch-icon" href="{% static "user_interaction/css/Frontend_Theme/assets/img/apple-touch-icon.png" %}" />


    
    <title>Document</title>
</head>
<body>
    <div class="container mt-5">
    <div class="jumbotron jumbotron-fluid">
        <h1 class="display-4 text-center">Success!!</h1>
        <hr class="my-4">
        <p class="lead text-center">The details which you have entered in the registrated has been succesfully submitted.</p>
         <p class="lead text-center">
          <a class="btn btn-primary btn-lg" href="{% url 'studentlogin' %}" role="button">Back to Login Page</a>
        </p> 
    </div>
    </div>


    <!-- All JS Files -->
     <!-- Vendor JS Files -->
     <script src="{% static "user_interaction/css/Frontend_Theme/assets/vendor/jquery/jquery.min.js" %}"></script>
     <script src="{% static "user_interaction/css/Frontend_Theme/assets/vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
     <script src="{% static "user_interaction/css/Frontend_Theme/assets/vendor/jquery.easing/jquery.easing.min.js" %}"></script>
     <script src="{% static "user_interaction/css/Frontend_Theme/assets/vendor/php-email-form/validate.js" %}"></script>
     <script src="{% static "user_interaction/css/Frontend_Theme/assets/vendor/waypoints/jquery.waypoints.min.js" %}"></script>
     <script src="{% static "user_interaction/css/Frontend_Theme/assets/vendor/counterup/counterup.min.js" %}"></script>
     <script src="{% static "user_interaction/css/Frontend_Theme/assets/vendor/isotope-layout/isotope.pkgd.min.js" %}"></script>
     <script src="{% static "user_interaction/css/Frontend_Theme/assets/vendor/venobox/venobox.min.js" %}"></script>
     <script src="{% static "user_interaction/css/Frontend_Theme/assets/vendor/owl.carousel/owl.carousel.min.js" %}"></script>
 
     <!-- Template Main JS File -->
     <script src="{% static "user_interaction/css/Frontend_Theme/assets/js/main.js" %}"></script>




</body>
</html>